<div class="container">
  <div class="row">
    <div class="navbar">
      <ul class="nav nav-tabs">
        <li class=" list-group-item list-group-item-light" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> <a routerLink="/">Home</a></li>
        <li class=" list-group-item list-group-item-light" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> <a routerLink="./Floatingimage">floatingimg</a></li>
        <li class=" list-group-item list-group-item-light" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> <a routerLink="./Ecommerce">ecommerce</a></li>
        <li class=" list-group-item list-group-item-light" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> <a routerLink="./Counttimer">counttimer</a></li>
        <li class=" list-group-item list-group-item-light" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> <a routerLink="./Servicecount">servcounttimier</a></li>
        <li class=" list-group-item list-group-item-light" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> <a routerLink="./Studentmark">studentmark</a></li>
        <li class=" list-group-item list-group-item-light" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> <a routerLink="./Dynamicdiv">dynamicdiv</a></li>
      </ul>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>